.cta {
  background-image: url(http://picsum.photos/1200/300?image=781);
  background-position: center center;
  background-size: cover;
  margin-top: $spacing-xl;
  padding: $spacing-lg $spacing-sm;
  position: relative;
  z-index: 1;

  &::after {
    background-color: rgba(#fff, 0.8);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.cta__row {
  z-index: 2;

  @include breakpoint($bp-tablet) {
    align-items: center;
    display: flex;
  }
}

.cta__text {
  font-size: $font-size-md;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 0 2px 8px rgba(0,0,0,0.2);

  @include breakpoint($bp-tablet) {
    flex-basis: 55%;
    flex-shrink: 0;
    font-size: $font-size-lg;
    margin-bottom: 0;
    text-align: right;
  }
}

.cta__button {
  @include breakpoint($bp-tablet) {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
  }
}