.gallery {

}

.gallery__main {
  margin-bottom: .7rem;
}

.gallery__images {
  display: flex;
  margin-left: -.35rem;
  margin-right: -.35rem;
}

.gallery__thumbnail {
  padding: 0 .35rem;
  opacity: 0.5;
  transition: opacity 200ms ease-out;
  flex-basis: 20%;
  max-width: 20%;

  @include breakpoint(600px) {
    flex-basis: percentage(1/7);
    max-width: percentage(1/7);
  }

  @include breakpoint(800px) {
    flex-basis: 10%;
    max-width: 10%;
  }

  &.is-active,
  &:hover,
  &:focus {
    opacity: 1;
  }
}