.page-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $spacing-lg;
  position: relative;

  @include breakpoint($bp-tablet-lg) {
    margin-bottom: $spacing-xl;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
  }
}

.page-header__title {
  background-color: #fff;
  display: inline-block;
  font-family: $header-font;
  font-size: $font-size-xxl;
  font-weight: 400;
  letter-spacing: 6px;
  margin: $base-spacing 0 0 0;
  padding: $spacing-xs $base-spacing;
  position: relative;
  top: 2rem;
  z-index: 2;

  @include breakpoint($bp-tablet-lg) {
    font-size: $font-size-xxxl;
    letter-spacing: 10px;
    padding: $spacing-sm $spacing-md;
    top: 3.5rem;
  }

  &::before {
    background-color: $green;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include breakpoint($bp-tablet-lg) {
      height: 6px;
    }
  }
}