.wpcf7-form {
  margin-bottom: $spacing-xl;

  label {
    font-size: $font-size-xs;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.wpcf7-text {
  font-family: $base-font;
  font-size: $font-size-xs;
  height: 50px;
  padding: 0 .5rem;
  width: 100%;

  &:focus {
    border-color: $green;
  }

  @include breakpoint($bp-tablet) {
    max-width: 400px;
  }
}

.wpcf7-textarea {
  font-family: $base-font;
  font-size: $font-size-xs;
  padding: .5rem;
  width: 100%;
}

.wpcf7-submit {
  background-color: $green;
  border: solid 2px $green;
  cursor: pointer;
  font-family: $base-font;
  font-size: $font-size-xs;
  font-weight: 700;
  letter-spacing: 2px;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  transition: all 200ms ease-out;

  &:hover,
  &:focus {
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  }
}