<div class="card">
  <a class="card__link" href="{{ card_url }}">
    <div class="card__image">
      <img src="{{ card_image_src }}" alt="{{ card_image_alt }}">
    </div>
    <h3 class="card__title">{{ card_title }}</h3>
  </a>
</div>