<div class="cta">
  <div class="l-constrain l-constrain--sm">
    <div class="cta__row">
      <div class="cta__text">Ready to design something beautiful?</div>
      <div class="cta__button">
        <a href="#" class="button">Contact Us</a>
      </div>
    </div>
  </div>
</div>