<div class="gallery">
  <div class="gallery__images">
    {% for item in gallery_images %}
      {% set image = Image(item) %}
      <a 
        href="#"
        class="gallery__thumbnail{% if loop.first %} is-active{% endif %}"
        data-src="{{ image.src|resize(1200) }}"
        data-alt="{{ image.alt }}"
      >
        <img src="{{ image.src|resize(500, 500, 'center') }}" alt="{{ image.alt }}">
      </a>
    {% endfor %}
  </div>
  
</div>