<div class="hero">
  <div class="hero__images">
    {% for item in hero_images %}
      {% set image = Image(item) %}
      {% if loop.first %}
        <img class="hero__image is-active" src="{{ image.src|resize(1600, 700, 'center') }}" alt="{{ image.alt }}"/>
      {% else %}
        <img class="hero__image" data-src="{{ image.src|resize(1600, 700, 'center') }}" alt="{{ image.alt }}" />
      {% endif %}
    {% endfor %}
  </div>
  <div class="hero__logo">Blue Sage Designs</div>
</div>