<div class="mobile-menu">
  {# {% include "menu.twig" with {
    menu: main_menu.get_items,
    menu_name: 'main'
  }%} #}
  <ul class="menu menu--main">
    <li class="menu__item">
      <a href="#" class="menu__link">About</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Projects</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Services</a>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__link">Contact</a>
    </li>
  </ul>
</div>