<div class="page-header" style="background-image: url({{ page_header_image }});">
  <div class="l-constrain l-constrain--sm">
    <h1 class="page-header__title">{{ page_header_title }}</h1>
  </div>
</div>