$bp-header: 900px;

.l-header {
  padding: $spacing-xs 0;

  @include breakpoint($bp-mobile-menu) {
    padding: $base-spacing 0;
  }
}

.l-header__row {
  align-items: center;
  display: flex;
  justify-content: space-between;

  body.page--homepage & {
    @include breakpoint($bp-mobile-menu) {
      justify-content: center;
    }
  }
}